# Ignore dataset inside the backend folder
asl-backend/dataset/

# Ignore specific dataset files
asl-backend/dataset/newdataset/
asl-backend/dataset/preprocessed_data.npz

# Ignore virtual environment
asl-backend/venv/

# Ignore large model files (optional)
*.h5
