# Ignore Python virtual environment
venv/
*/venv/

# Ignore dataset files (inside backend)
asl-backend/dataset/
asl-backend/dataset/*

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore model checkpoints (optional)
asl-backend/*.h5
asl-backend/*.npz

# Ignore logs and temp files
*.log
*.tmp
.DS_Store

# Ignore frontend dependencies
frontend/node_modules/
frontend/node_modules/*

# Ignore environment files
.env
*.env

# Ignore zip files and unnecessary archives
*.zip
*.jar
*.tar.gz

# Ignore system files
Thumbs.db
